<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventco">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventCo">
        <activity
            android:name=".Attendee.SetupProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Organiser.EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Security.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".Attendee.RegisterActivity"
            android:exported="false">


        </activity>
        <activity
            android:name=".Security.SecurityMainActivity"
            android:exported="false" >

        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Organiser.NewEventActivity"
            android:exported="false"
            android:label="@string/title_activity_new_event"
            android:theme="@style/Theme.EventCo.NoActionBar" />
        <activity
            android:name=".Organiser.OrganiserMainActivity"
            android:exported="false" >
<!--         <intent-filter>-->
<!--         <action android:name="android.intent.action.MAIN" />-->
<!--         <category android:name="android.intent.category.LAUNCHER" />-->
<!--         </intent-filter>-->
    </activity>
        <activity
            android:name=".Attendee.MainAttendeeActivity"
            android:exported="false">


        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>